<% obj.each do |article| %>
  <div class="row margin-bottom">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <small>
              Created by: <%= article.user.username if article.user %>, last update: <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </h6>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <% if logged_in? && current_user == article.user %>
            <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-sm btn-primary" %>
            <%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
