<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="text-center">
  <%= gravatar_for @user, size: 150, to_class: "rounded" %>
</div>

<h4 align="center" class="margin-top"><%= @user.username %>'s articles</h4>

<%= will_paginate @user_articles, list_classes: %w(pagination justify-content-center) %>

<%= render "articles/article", obj: @user_articles %>

<%= will_paginate @user_articles, list_classes: %w(pagination justify-content-center) %>